<div>
    <canvas id="pie" class="chart chart-doughnut" chart-colors="dynamicForm.chartData.colors"
            chart-data="dynamicForm.chartData.data" chart-labels="dynamicForm.chartData.labels"></canvas>
</div>



<div class="employee-card">
    <!--<img src='{{picFile}}' class="employee-card-img" />

    <table class="table table-hover employee-card-body">
        <thead>
            <tr>
                <th colspan="2">
                    <i>{{employeeInfo.EmployeeCode}}</i> <strong>{{employeeInfo.getEmployeeName()}}</strong>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <b>{{'EmpHireDate' | translate}}</b>
                </td>
                <td>
                    {{employeeInfo.EmpHireDate | date:"dd/MM/yyyy"}}
                </td>
            </tr>
            <tr>
                <td>
                    <b>{{'WorkExperience' | translate}}</b>
                </td>
                <td>
                    {{employeeInfo.WorkExperience}}
                </td>
            </tr>
            <tr>
                <td>
                    <b>{{'UnitName' | translate}}</b>
                </td>
                <td>
                    <i> {{employeeInfo.UnitCode}}</i> <strong>{{employeeInfo.getUnitName()}}</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <b>{{'JobName' | translate}}</b>
                </td>
                <td>
                    <i> {{employeeInfo.JobCode}}</i> <strong>{{employeeInfo.getJobName()}}</strong>
                </td>
            </tr>
        </tbody>
    </table>-->
    <!--<div class="employee-card-body">
        <h4>
            <i>{{employeeInfo.EmployeeCode}}</i> <strong>{{employeeInfo.getEmployeeName()}}</strong>
        </h4>
        <p><b>{{'EmpHireDate' | translate}}: <strong>{{employeeInfo.EmpHireDate | date:"dd/MM/yyyy"}}</strong></p>
        <p><b>{{'WorkExperience' | translate}}: <strong>{{employeeInfo.WorkExperience}}</strong></p>
        <p><b>{{'UnitName' | translate}}: </b><i> {{employeeInfo.UnitCode}}</i> <strong>{{employeeInfo.getUnitName()}}</strong></p>
        <p><b>{{'JobName' | translate}}: </b><i> {{employeeInfo.JobCode}}</i> <strong>{{employeeInfo.getJobName()}}</strong></p>

    </div>-->





    <!--<div class="container table table-hover">
        <div class="row">
            <div class="col-sm-2">
                <img src='{{picFile}}' class="" />
            </div>
        </div>
    </div>
    <div class="table employee-card-body">
        <div class="row">
            <div class="col-sm-12">
                <i>{{employeeInfo.EmployeeCode}}</i> <strong>{{employeeInfo.getEmployeeName()}}</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <b>{{'EmpHireDate' | translate}}</b>
            </div>
            <div class="col-sm-10">
                {{employeeInfo.EmpHireDate | date:"dd/MM/yyyy"}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>{{'WorkExperience' | translate}}</b>
            </div>
            <div class="col-sm-10">
                {{employeeInfo.WorkExperience}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>{{'UnitName' | translate}}</b>
            </div>
            <div class="col-sm-10">
                <i> {{employeeInfo.UnitCode}}</i> <strong>{{employeeInfo.getUnitName()}}</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>{{'JobName' | translate}}</b>
            </div>
            <div class="col-sm-10">
                <i> {{employeeInfo.JobCode}}</i> <strong>{{employeeInfo.getJobName()}}</strong>
            </div>
        </div>
    </div>-->


</div>

