
<form class="form-horizontal" name="jobAddForm" ng-submit="orgUnitsHome.saveItem(jobAddForm.$valid)" novalidate>

    <div id="content RemovePaddingLeft ">
        <section id="widget-grid" data-widget-grid>
            <div class="row">
                <article class="col-xs-12">

                    <div id="widget-job" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" class="no-margin-bottom">
                        <header class="header-background-color">
                            <h2><strong>{{orgUnitsHome.FormSetup.MyForm.FormName || translate }}</strong></h2>
                            <div class="widget-toolbar">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-link btn-sm" data-page-id="{{orgUnitsHome.selectedViewSetup.ViewId}}" data-object-id="{{'Save-' + orgUnitsHome.selectedViewSetup.ViewId}}" ng-disabled="jobAddForm.$invalid" data-toggle="tooltip" title="{{orgUnitsHome.translateText('Save', orgUnitsHome.selectedViewSetup.ViewId)}}">
                                        <i class="fa fa-save fa-lg"></i>
                                    </button>
                                    <a class="btn btn-sm" ng-click="orgUnitsHome.indexItemView();" data-page-id="{{orgUnitsHome.selectedViewSetup.ViewId}}" data-object-id="{{'Cancel-' + orgUnitsHome.selectedViewSetup.ViewId}}" data-toggle="tooltip" title="{{orgUnitsHome.translateText('Cancel', orgUnitsHome.selectedViewSetup.ViewId)}}">
                                        <i class="fa fa-reply fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="widget-toolbar">
                           .     <a href-void class="btn" ng-click="orgUnitsHome.addItemView()"><i class="fa fa-plus"></i> {{orgUnitsHome.translateText('CreateNew', orgUnitsHome.selectedViewSetup.ViewId)}} </a>
                            </div>
                        </header>
                        <div class="widget-body view-background-color">
                            <div ng-include src="'app_hebs/hcms/setup/orgchart/orgUnits/views/orgUnitAddNew.html'" ng-show='orgUnitsHome.displayCreateNewTemplate || orgUnitsHome.displayEditTemplate'></div>

                            <smart-grid id="grd" name="gridName" data="orgUnitsHome.dataList" options="orgUnitsHome.grid.gridOptions" column-defs="orgUnitsHome.grid.gridColumnDefs" style="height:500px;"></smart-grid>

                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>

</form>
