



<div class="form-group  row">
    <!--CompanyId-->
    <ng-form name="CompanyId" ng-class="{ 'has-error': CompanyId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['CompanyId'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["CompanyId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.CompanyId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['CompanyId']"></hcms-generic>
        </div>
    </ng-form>

    <!--PayItemId-->
    <ng-form name="PayItemId" ng-class="{ 'has-error': PayItemId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayItemId'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayItemId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayItemId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayItemId']"></hcms-generic>
        </div>
    </ng-form>
</div>
<div class="form-group  row">
    <!--PayItemCode-->
    <ng-form name="PayItemCode" ng-class="{ 'has-error': PayItemCode.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayItemCode'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayItemCode"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayItemCode" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayItemCode']"></hcms-generic>
        </div>
    </ng-form>


</div>

<div class="form-group  row">
    <!--PayItemName-->
    <ng-form name="PayItemName" ng-class="{ 'has-error': PayItemName.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayItemName'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayItemName"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayItemName" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayItemName']"></hcms-generic>
        </div>
    </ng-form>

    <!--PayItemName_-->
    <ng-form name="PayItemName_" ng-class="{ 'has-error': PayItemName_.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayItemName_'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayItemName_"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayItemName_" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayItemName_']"></hcms-generic>
        </div>
    </ng-form>

</div>
<div class="form-group  row">

    <!--PayShortName-->
    <ng-form name="PayShortName" ng-class="{ 'has-error': PayShortName.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayShortName'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayShortName"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayShortName" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayShortName']"></hcms-generic>
        </div>
    </ng-form>
    <!--PayShortName_-->
    <ng-form name="PayShortName_" ng-class="{ 'has-error': PayShortName_.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayShortName_'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayShortName_"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayShortName_" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayShortName_']"></hcms-generic>
        </div>
    </ng-form>

</div>
<div class="form-group  row">
    <!--PayItemGroupId-->
    <ng-form name="PayItemGroupId" ng-class="{ 'has-error': PayItemGroupId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayItemGroupId'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayItemGroupId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayItemGroupId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayItemGroupId']"></hcms-generic>
        </div>
    </ng-form>

    <!--PayItemTypeId-->
    <ng-form name="PayItemTypeId" ng-class="{ 'has-error': PayItemTypeId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayItemTypeId'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayItemTypeId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayItemTypeId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayItemTypeId']"></hcms-generic>
        </div>
    </ng-form>

</div>
<div class="form-group  row">
    <!--PayrollUnitId-->
    <ng-form name="PayrollUnitId" ng-class="{ 'has-error': PayrollUnitId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayrollUnitId'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayrollUnitId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayrollUnitId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayrollUnitId']"></hcms-generic>
        </div>
    </ng-form>
    <!--PayRetroactiveItem-->
    <ng-form name="PayRetroactiveItem" ng-class="{ 'has-error': PayRetroactiveItem.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayRetroactiveItem'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayRetroactiveItem"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayRetroactiveItem" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayRetroactiveItem']"></hcms-generic>
        </div>
    </ng-form>
</div>

<div class="form-group  row">
    <!--PayMinInput-->
    <ng-form name="PayMinInput" ng-class="{ 'has-error': PayMinInput.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayMinInput'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayMinInput"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayMinInput" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayMinInput']"></hcms-generic>
        </div>
    </ng-form>

    <!--PayMaxInput-->
    <ng-form name="PayMaxInput" ng-class="{ 'has-error': PayMaxInput.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayMaxInput'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayMaxInput"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayMaxInput" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayMaxInput']"></hcms-generic>
        </div>
    </ng-form>
</div>


<div class="form-group  row">
    <!--PayFrequency-->
    <ng-form name="PayFrequency" ng-class="{ 'has-error': PayFrequency.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayFrequency'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayFrequency"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayFrequency" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayFrequency']"></hcms-generic>
        </div>
    </ng-form>

    <!--PayFactor-->
    <ng-form name="PayFactor" ng-class="{ 'has-error': PayFactor.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayFactor'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayFactor"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayFactor" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayFactor']"></hcms-generic>
        </div>
    </ng-form>

</div>
<div class="form-group  row">

    <!--PayItemsCalcMethodId-->
    <ng-form name="PayItemsCalcMethodId" ng-class="{ 'has-error': PayItemsCalcMethodId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayItemsCalcMethodId'].IsHidden" >
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayItemsCalcMethodId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayItemsCalcMethodId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayItemsCalcMethodId']" hc-events="dynamicForm.payItemsCalcMethodEvents"></hcms-generic>
        </div>
    </ng-form>
    <!--FormulaId-->
    <ng-form name="FormulaId" ng-class="{ 'has-error': FormulaId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['FormulaId'].IsHidden" ng-readonly="dynamicForm.disableBasedOnFormula">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["FormulaId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.FormulaId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['FormulaId']"></hcms-generic>
        </div>
    </ng-form>
</div>
<div class="form-group  row">
    <!--PayBasedOnGroup-->
    <ng-form name="PayBasedOnGroup" ng-class="{ 'has-error': PayBasedOnGroup.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayBasedOnGroup'].IsHidden" ng-readonly="dynamicForm.disableBasedOnGroup">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayBasedOnGroup"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayBasedOnGroup" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayBasedOnGroup']"></hcms-generic>
        </div>
    </ng-form>

    <!--PayBasedOnItem-->
    <ng-form name="PayBasedOnItem" ng-class="{ 'has-error': PayBasedOnItem.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayBasedOnItem'].IsHidden" ng-readonly="dynamicForm.disableBasedOnItem">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayBasedOnItem"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayBasedOnItem" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayBasedOnItem']"></hcms-generic>
        </div>
    </ng-form>

</div>

<div class="form-group  row">

    <!--PayAccountNo-->
    <ng-form name="PayAccountNo" ng-class="{ 'has-error': PayAccountNo.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayAccountNo'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayAccountNo"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayAccountNo" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayAccountNo']"></hcms-generic>
        </div>
    </ng-form>
    <!--OrderNo-->
    <ng-form name="OrderNo" ng-class="{ 'has-error': OrderNo.$invalid }">
        <div class="col-sm-2">
            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["OrderNo"].FieldName , dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">
            <hcms-generic ng-model="dynamicForm.dataItem.OrderNo" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['OrderNo']"></hcms-generic>
        </div>
    </ng-form>
</div>
<div class="form-group  row">
    <!--StartDate-->
    <ng-form name="StartDate" ng-class="{ 'has-error': StartDate.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['StartDate'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["StartDate"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.StartDate" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['StartDate']"></hcms-generic>
        </div>
    </ng-form>

    <!--EndDate-->
    <ng-form name="EndDate" ng-class="{ 'has-error': EndDate.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['EndDate'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EndDate"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.EndDate" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EndDate']"></hcms-generic>
        </div>
    </ng-form>
</div>


<div class="form-group  row">
    <div class="col-sm-2">
    </div>
    <!--IsPayTax-->
    <ng-form name="IsPayTax" ng-class="{ 'has-error': IsPayTax.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['IsPayTax'].IsHidden">
        <div class="col-sm-2">
            <hcms-generic ng-model="dynamicForm.dataItem.IsPayTax" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['IsPayTax']" hc-text="{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject['IsPayTax'].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}"></hcms-generic>
        </div>
    </ng-form>

    <!--IsPayGrossUp-->
    <ng-form name="IsPayGrossUp" ng-class="{ 'has-error': IsPayGrossUp.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['IsPayGrossUp'].IsHidden">
        <div class="col-sm-2">
            <hcms-generic ng-model="dynamicForm.dataItem.IsPayGrossUp" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['IsPayGrossUp']" hc-text="{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject['IsPayGrossUp'].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}"></hcms-generic>
        </div>
    </ng-form>

    <div class="col-sm-2">
    </div>

    <!--IsPayTotalSalary-->
    <ng-form name="IsPayTotalSalary" ng-class="{ 'has-error': IsPayTotalSalary.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['IsPayTotalSalary'].IsHidden">
        <div class="col-sm-2">
            <hcms-generic ng-model="dynamicForm.dataItem.IsPayTotalSalary" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['IsPayTotalSalary']" hc-text="{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject['IsPayTotalSalary'].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}"></hcms-generic>
        </div>
    </ng-form>

    <!--IsPayBasicSalary-->
    <ng-form name="IsPayBasicSalary" ng-class="{ 'has-error': IsPayBasicSalary.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['IsPayBasicSalary'].IsHidden">
        <div class="col-sm-2">
            <hcms-generic ng-model="dynamicForm.dataItem.IsPayBasicSalary" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['IsPayBasicSalary']" hc-text="{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject['IsPayBasicSalary'].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}"></hcms-generic>
        </div>
    </ng-form>
</div>
<div class="form-group  row">
    <div class="col-sm-2">
    </div>
    <!--IsPayHireDate-->
    <ng-form name="IsPayHireDate" ng-class="{ 'has-error': IsPayHireDate.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['IsPayHireDate'].IsHidden">
        <div class="col-sm-2">
            <hcms-generic ng-model="dynamicForm.dataItem.IsPayHireDate" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['IsPayHireDate']" hc-text="{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject['IsPayHireDate'].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}"></hcms-generic>
        </div>
    </ng-form>

    <!--IsPayTerminationDate-->
    <ng-form name="IsPayTerminationDate" ng-class="{ 'has-error': IsPayTerminationDate.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['IsPayTerminationDate'].IsHidden">
        <div class="col-sm-2">
            <hcms-generic ng-model="dynamicForm.dataItem.IsPayTerminationDate" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['IsPayTerminationDate']" hc-text="{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject['IsPayTerminationDate'].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}"></hcms-generic>
        </div>
    </ng-form>
    <div class="col-sm-2">
    </div>
    <!--IsPaySuppress-->
    <ng-form name="IsPaySuppress" ng-class="{ 'has-error': IsPaySuppress.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['IsPaySuppress'].IsHidden">
        <div class="col-sm-2">
            <hcms-generic ng-model="dynamicForm.dataItem.IsPaySuppress" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['IsPaySuppress']" hc-text="{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject['IsPaySuppress'].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}"></hcms-generic>
        </div>
    </ng-form>
</div>
<div class="form-group  row">
    <!--Disabled-->
    <div class="col-sm-2">
    </div>
    <ng-form name="Disabled" ng-class="{ 'has-error': Disabled.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['Disabled'].IsHidden">
        <div class="col-sm-2">
            <hcms-generic ng-model="dynamicForm.dataItem.Disabled" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['Disabled']" hc-text="{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject['Disabled'].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}"></hcms-generic>
        </div>
    </ng-form>
</div>

