<div class="form-group  row">
    <!--TemplateDetailId-->
    <ng-form name="TemplateDetailId" ng-class="{ 'has-error': TemplateDetailId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['TemplateDetailId'].IsHidden">
        <div class="col-sm-2">
            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["TemplateDetailId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">
            <hcms-generic ng-model="dynamicForm.dataItem.TemplateDetailId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['TemplateDetailId']"></hcms-generic>
        </div>
    </ng-form>
    <!--AttendanceTemplateId-->
    <ng-form name="AttendanceTemplateId" ng-class="{ 'has-error': AttendanceTemplateId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['AttendanceTemplateId'].IsHidden">
        <div class="col-sm-2">
            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["AttendanceTemplateId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">
            <hcms-generic ng-model="dynamicForm.dataItem.AttendanceTemplateId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['AttendanceTemplateId']"></hcms-generic>
        </div>
    </ng-form>
</div>
<div class="form-group  row">
    <!--TemplateOrder-->
    <ng-form name="TemplateOrder" ng-class="{ 'has-error': TemplateOrder.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['TemplateOrder'].IsHidden">
        <div class="col-sm-2">
            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["TemplateOrder"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">
            <hcms-generic ng-model="dynamicForm.dataItem.TemplateOrder" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['TemplateOrder']"></hcms-generic>
        </div>
    </ng-form>
    <!--CalendarId-->
    <ng-form name="CalendarId" ng-class="{ 'has-error': CalendarId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['CalendarId'].IsHidden">
        <div class="col-sm-2">
            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["CalendarId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">
            <hcms-generic ng-model="dynamicForm.dataItem.CalendarId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['CalendarId']"></hcms-generic>
        </div>
    </ng-form>
</div>
<div class="form-group  row">
    <!--OrderNo-->
    <ng-form name="OrderNo" ng-class="{ 'has-error': OrderNo.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['OrderNo'].IsHidden">
        <div class="col-sm-2">
            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["OrderNo"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">
            <hcms-generic ng-model="dynamicForm.dataItem.OrderNo" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['OrderNo']"></hcms-generic>
        </div>
    </ng-form>
    <!--Disabled-->
    <ng-form name="Disabled" ng-class="{ 'has-error': Disabled.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['Disabled'].IsHidden">
        <div class="col-sm-2">
            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["Disabled"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">
            <hcms-generic ng-model="dynamicForm.dataItem.Disabled" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['Disabled']"></hcms-generic>
        </div>
    </ng-form>
</div>