<div class="row ">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">

                <div ng-include src="'app_hebs/hcms/setup/personnel/attendance/attendanceTemplates/views/attendanceTemplateAddNew.html'"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form-nav-tabs form-id="attendanceTemplatesHome.FormSetup.MyForm.FormId" parent-id-field-name="'AttendanceTemplateId'" parent-item="attendanceTemplatesHome.dataItem" hc-options="attendanceTemplatesHome.navTabOptions"></form-nav-tabs>
            </div>

        </div>
    </div>
</div>


