<div class="widget-body view-background-color">


 
        <div class="form-group  row">


            <!--EstablishmentId-->
            <ng-form name="EstablishmentId" ng-class="{ 'has-error': EstablishmentId.$invalid }">
                <div class="col-sm-2">
                    <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EstablishmentId"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
                </div>
                <div class="col-sm-4">
                    <hcms-generic ng-model="dynamicForm.dataItem.EstablishmentId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EstablishmentId']"></hcms-generic>
                </div>
            </ng-form>

            <!--EducationScore-->
            <ng-form name="EducationScore" ng-class="{ 'has-error': EducationScore.$invalid }">
                <div class="col-sm-2">
                    <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EducationScore"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
                </div>
                <div class="col-sm-4">
                    <hcms-generic ng-model="dynamicForm.dataItem.EducationScore" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EducationScore']"></hcms-generic>
                </div>
            </ng-form>




        </div>
        <div class="form-group  row">

            

            <!--EducationCertificateId-->
            <ng-form name="EducationCertificateId" ng-class="{ 'has-error': EducationCertificateId.$invalid }">
                <div class="col-sm-2">
                    <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EducationCertificateId"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
                </div>
                <div class="col-sm-4">
                    <hcms-generic ng-model="dynamicForm.dataItem.EducationCertificateId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EducationCertificateId']"></hcms-generic>
                </div>
            </ng-form>

            <!--EducationPercentage-->
            <ng-form name="EducationPercentage" ng-class="{ 'has-error': EducationPercentage.$invalid }">
                <div class="col-sm-2">
                    <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EducationPercentage"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
                </div>
                <div class="col-sm-4">
                    <hcms-generic ng-model="dynamicForm.dataItem.EducationPercentage" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EducationPercentage']"></hcms-generic>
                </div>
            </ng-form>



        </div>


        <div class="form-group  row">
            <!--EducationMajorId-->
            <ng-form name="EducationMajorId" ng-class="{ 'has-error': EducationMajorId.$invalid }">
                <div class="col-sm-2">
                    <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EducationMajorId"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
                </div>
                <div class="col-sm-4">
                    <hcms-generic ng-model="dynamicForm.dataItem.EducationMajorId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EducationMajorId']"></hcms-generic>
                </div>
            </ng-form>

            <!--EducationGradeId-->
            <ng-form name="EducationGradeId" ng-class="{ 'has-error': EducationGradeId.$invalid }">
                <div class="col-sm-2">
                    <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EducationGradeId"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
                </div>
                <div class="col-sm-4">
                    <hcms-generic ng-model="dynamicForm.dataItem.EducationGradeId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EducationGradeId']"></hcms-generic>
                </div>
            </ng-form>



        </div>


        <div class="form-group  row">

            <!--EducationFromDate-->
            <ng-form name="EducationFromDate" ng-class="{ 'has-error': EducationFromDate.$invalid }">
                <div class="col-sm-2">
                    <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EducationFromDate"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
                </div>
                <div class="col-sm-4">
                    <hcms-generic ng-model="dynamicForm.dataItem.EducationFromDate" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EducationFromDate']"></hcms-generic>
                </div>
            </ng-form>

            <!--EducationGraduationDate-->
            <ng-form name="EducationGraduationDate" ng-class="{ 'has-error': EducationGraduationDate.$invalid }">
                <div class="col-sm-2">
                    <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EducationGraduationDate"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
                </div>
                <div class="col-sm-4">
                    <hcms-generic ng-model="dynamicForm.dataItem.EducationGraduationDate" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EducationGraduationDate']"></hcms-generic>
                </div>
            </ng-form>


        </div>

        <div class="form-group  row">

            <!--EducationLicenseNo-->
            <ng-form name="EducationLicenseNo" ng-class="{ 'has-error': EducationScore.$invalid }">
                <div class="col-sm-2">
                    <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EducationLicenseNo"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
                </div>
                <div class="col-sm-4">
                    <hcms-generic ng-model="dynamicForm.dataItem.EducationLicenseNo" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EducationLicenseNo']"></hcms-generic>
                </div>
            </ng-form>

            <!--EducationLicenseExpiryDate-->
            <ng-form name="EducationLicenseExpiryDate" ng-class="{ 'has-error': EducationLicenseExpiryDate.$invalid }">
                <div class="col-sm-2">
                    <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EducationLicenseExpiryDate"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
                </div>
                <div class="col-sm-4">
                    <hcms-generic ng-model="dynamicForm.dataItem.EducationLicenseExpiryDate" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EducationLicenseExpiryDate']"></hcms-generic>
                </div>
            </ng-form>

        </div>

        <div class="form-group  row">

            <!--EducationComment-->
            <ng-form name="EducationComment" ng-class="{ 'has-error': EducationComment.$invalid }">
                <div class="col-sm-2">
                    <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EducationComment"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
                </div>
                <div class="col-sm-10">
                    <hcms-generic ng-model="dynamicForm.dataItem.EducationComment" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EducationComment']"></hcms-generic>
                </div>
            </ng-form>

        </div>


        <!--Save & Cancel Buttons-->
        <!--<div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="{{dynamicForm.translateText('Save' , dynamicForm.selectedViewSetup.ViewId)}}" ng-disabled="empEducationAddForm.$invalid" />
                <button type="button" class="btn btn-default" ng-click="dynamicForm.indexItemView()">{{dynamicForm.translateText('Cancel' , dynamicForm.selectedViewSetup.ViewId)}}</button>
            </div>
        </div>-->

    </div>
<!--/.container (DON'T NEST) -->
