<div class="widget-body view-background-color">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group  row">
                <!--EmpAssignmentId-->
                <ng-form name="EmpAssignmentId" ng-class="{ 'has-error': EmpAssignmentId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['EmpAssignmentId'].IsHidden">
                    <div class="col-sm-2">
                        <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EmpAssignmentId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
                    </div>
                    <div class="col-sm-4">
                        <hcms-generic ng-model="dynamicForm.dataItem.EmpAssignmentId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EmpAssignmentId']"></hcms-generic>
                    </div>
                </ng-form>

            </div>

            <div class="form-group  row">

                <!--EmpPayrollChangeSalaryCode-->
                <ng-form name="EmpPayrollChangeSalaryCode" ng-class="{ 'has-error': EmpPayrollChangeSalaryCode.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['EmpPayrollChangeSalaryCode'].IsHidden">
                    <div class="col-sm-2">
                        <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EmpPayrollChangeSalaryCode"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
                    </div>
                    <div class="col-sm-4">
                        <hcms-generic ng-model="dynamicForm.dataItem.EmpPayrollChangeSalaryCode" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EmpPayrollChangeSalaryCode']"></hcms-generic>
                    </div>
                </ng-form>

                <!--EmpPayrollChangeSalaryValidDate-->
                <ng-form name="EmpPayrollChangeSalaryValidDate" ng-class="{ 'has-error': EmpPayrollChangeSalaryValidDate.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['EmpPayrollChangeSalaryValidDate'].IsHidden">
                    <div class="col-sm-2">
                        <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EmpPayrollChangeSalaryValidDate"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
                    </div>
                    <div class="col-sm-4">
                        <hcms-generic ng-model="dynamicForm.dataItem.EmpPayrollChangeSalaryValidDate" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EmpPayrollChangeSalaryValidDate']"></hcms-generic>
                    </div>
                </ng-form>

            </div>
            <div class="form-group  row">
                <!--PayrollChangeSalaryReasonId-->
                <ng-form name="PayrollChangeSalaryReasonId" ng-class="{ 'has-error': PayrollChangeSalaryReasonId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayrollChangeSalaryReasonId'].IsHidden">
                    <div class="col-sm-2">
                        <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayrollChangeSalaryReasonId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
                    </div>
                    <div class="col-sm-4">
                        <hcms-generic ng-model="dynamicForm.dataItem.PayrollChangeSalaryReasonId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayrollChangeSalaryReasonId']"></hcms-generic>
                    </div>
                </ng-form>
                <!--EmpPayrollChangeSalaryStatus-->
                <ng-form name="EmpPayrollChangeSalaryStatus" ng-class="{ 'has-error': EmpPayrollChangeSalaryStatus.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['EmpPayrollChangeSalaryStatus'].IsHidden">
                    <div class="col-sm-2">
                        <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EmpPayrollChangeSalaryStatus"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
                    </div>
                    <div class="col-sm-4">
                        <hcms-generic ng-model="dynamicForm.dataItem.EmpPayrollChangeSalaryStatus" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EmpPayrollChangeSalaryStatus']"></hcms-generic>
                    </div>
                </ng-form>
            </div>

            <div class="form-group  row">
                <!--CurrencyId-->
                <ng-form name="CurrencyId" ng-class="{ 'has-error': CurrencyId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['CurrencyId'].IsHidden">
                    <div class="col-sm-2">
                        <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["CurrencyId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
                    </div>
                    <div class="col-sm-4">
                        <hcms-generic ng-model="dynamicForm.dataItem.CurrencyId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['CurrencyId']"></hcms-generic>
                    </div>
                </ng-form>

                <!--LocationId-->
                <ng-form name="LocationId" ng-class="{ 'has-error': LocationId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['LocationId'].IsHidden">
                    <div class="col-sm-2">
                        <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["LocationId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
                    </div>
                    <div class="col-sm-4">
                        <hcms-generic ng-model="dynamicForm.dataItem.LocationId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['LocationId']"></hcms-generic>
                    </div>
                </ng-form>
            </div>
            <div class="form-group  row">
                <!--UnitId-->
                <ng-form name="UnitId" ng-class="{ 'has-error': UnitId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['UnitId'].IsHidden">
                    <div class="col-sm-2">
                        <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["UnitId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
                    </div>
                    <div class="col-sm-4">
                        <hcms-generic ng-model="dynamicForm.dataItem.UnitId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['UnitId']"></hcms-generic>
                    </div>
                </ng-form>

                <!--PositionId-->
                <ng-form name="PositionId" ng-class="{ 'has-error': PositionId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PositionId'].IsHidden">
                    <div class="col-sm-2">
                        <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PositionId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
                    </div>
                    <div class="col-sm-4">
                        <hcms-generic ng-model="dynamicForm.dataItem.PositionId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PositionId']"></hcms-generic>
                    </div>
                </ng-form>
            </div>
            <div class="form-group  row">
                <!--JobId-->
                <ng-form name="JobId" ng-class="{ 'has-error': JobId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['JobId'].IsHidden">
                    <div class="col-sm-2">
                        <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["JobId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
                    </div>
                    <div class="col-sm-4">
                        <hcms-generic ng-model="dynamicForm.dataItem.JobId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['JobId']"></hcms-generic>
                    </div>
                </ng-form>

                <!--GradeId-->
                <ng-form name="GradeId" ng-class="{ 'has-error': GradeId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['GradeId'].IsHidden">
                    <div class="col-sm-2">
                        <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["GradeId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
                    </div>
                    <div class="col-sm-4">
                        <hcms-generic ng-model="dynamicForm.dataItem.GradeId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['GradeId']"></hcms-generic>
                    </div>
                </ng-form>
            </div>
            <div class="form-group  row">
                <!--CostCenterId-->
                <ng-form name="CostCenterId" ng-class="{ 'has-error': CostCenterId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['CostCenterId'].IsHidden">
                    <div class="col-sm-2">
                        <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["CostCenterId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
                    </div>
                    <div class="col-sm-4">
                        <hcms-generic ng-model="dynamicForm.dataItem.CostCenterId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['CostCenterId']"></hcms-generic>
                    </div>
                </ng-form>

                <!--ContractTypeId-->
                <ng-form name="ContractTypeId" ng-class="{ 'has-error': ContractTypeId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['ContractTypeId'].IsHidden">
                    <div class="col-sm-2">
                        <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["ContractTypeId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
                    </div>
                    <div class="col-sm-4">
                        <hcms-generic ng-model="dynamicForm.dataItem.ContractTypeId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['ContractTypeId']"></hcms-generic>
                    </div>
                </ng-form>
            </div>
            <div class="form-group  row">
                <!--Comments-->
                <ng-form name="Comments" ng-class="{ 'has-error': Comments.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['Comments'].IsHidden">
                    <div class="col-sm-2">
                        <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["Comments"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
                    </div>
                    <div class="col-sm-4">
                        <hcms-generic ng-model="dynamicForm.dataItem.Comments" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['Comments']"></hcms-generic>
                    </div>
                </ng-form>

                <!--Disabled-->
                <ng-form name="Disabled" ng-class="{ 'has-error': Disabled.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['Disabled'].IsHidden">
                    <div class="col-sm-2">
                        <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["Disabled"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
                    </div>
                    <div class="col-sm-4">
                        <hcms-generic ng-model="dynamicForm.dataItem.Disabled" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['Disabled']"></hcms-generic>
                    </div>
                </ng-form>
            </div>
            <div class="form-group  row">

                <!--EmpPayrollChangeSalaryReferenceNo-->
                <ng-form name="EmpPayrollChangeSalaryReferenceNo" ng-class="{ 'has-error': EmpPayrollChangeSalaryReferenceNo.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['EmpPayrollChangeSalaryReferenceNo'].IsHidden">
                    <div class="col-sm-2">
                        <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EmpPayrollChangeSalaryReferenceNo"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
                    </div>
                    <div class="col-sm-4">
                        <hcms-generic ng-model="dynamicForm.dataItem.EmpPayrollChangeSalaryReferenceNo" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EmpPayrollChangeSalaryReferenceNo']"></hcms-generic>
                    </div>
                </ng-form>

            </div>
        </div>
        <div class="panel-footer">
            <!--<smart-grid id="grd" name="gridName" data="dynamicForm.itemsList" options="dynamicForm.itemsGrid.gridOptions" column-defs="dynamicForm.itemsGrid.gridColumnDefs" style="height:500px;"></smart-grid>-->
            <div class="row">
                <div class="col-sm-1">
                    <h3 translate="PayItem"></h3>
                </div>
                <div class="col-sm-3">
                    <hcms-select ng-model="dynamicForm.selectedPayItemId" hc-options="dynamicForm.payItemOptions" hc-events="dynamicForm.payItemChangeEvent"></hcms-select>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default" type="button" translate="Add" ng-click="dynamicForm.addPayItem()"> </button>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr class="row">
                        <th class="col-sm-1" translate="PayItemCode"></th>
                        <th class="col-sm-3" translate="PayItemName"></th>
                        <th class="col-sm-2" translate="PayItemOldValue"></th>
                        <th class="col-sm-2" translate="PayItemNewValue"></th>
                        <th class="col-sm-1" translate="PayItemPercentage"></th>
                        <th class="col-sm-1" translate="IsRetroActive"></th>
                        <th class="col-sm-2" translate="RetroActiveValidDate"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row" ng-repeat="item in dynamicForm.itemsList">
                        <td class="col-sm-1">{{item.PayItemCode}}</td>
                        <td class="col-sm-3">{{item.PayItemName}}</td>
                        <td class="col-sm-2">{{item.PayItemOldValue | hcmsnumber: dynamicForm.decimals}}</td>
                        <td class="col-sm-2">
                            <input class="form-control input-sm" type="number" ng-model="item.PayItemNewValue" ng-change="dynamicForm.newValueChanged(item)" />
                        </td>
                        <td class="col-sm-1" ng-class="{'font-warning': item.PayItemPercentage<0 }">{{item.PayItemPercentage | hcmspercentage: dynamicForm.decimals }}</td>
                        <td class="col-sm-1">
                            <input class="form-control input-sm" type="checkbox" ng-model="item.IsRetroActive" />
                        </td>
                        <td class="col-sm-2">
                            <hcms-date ng-model="item.RetroActiveValidDate" hc-options="dynamicForm.itemDateOptions"></hcms-date>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>