
<!--<div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs ">
                <li class="active">
                    <a href="#insuranceRulesHomeSearch" data-toggle="tab">{{insuranceRulesHome.translateText('Home',insuranceRulesHome.selectedViewSetup.ViewId)}}</a>
                </li>
                <li>
                    <a href="#selectedInsuranceRule" data-toggle="tab">{{insuranceRulesHome.translateText('Profile',insuranceRulesHome.selectedViewSetup.ViewId)}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="insuranceRulesHomeSearch">

                    <div id="widget-insuranceRulesHome" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" class="no-margin-bottom">
                        <header class="header-background-color">
                            <h2><strong>{{insuranceRulesHome.translateText(insuranceRulesHome.FormSetup.FormName,insuranceRulesHome.selectedViewSetup.ViewId) }}</strong></h2>
                            <div class="widget-toolbar">
                                <a href-void class="btn" ng-click="insuranceRulesHome.addNewClicked()"><i class="fa fa-plus"></i> {{insuranceRulesHome.translateText('CreateNew', insuranceRulesHome.selectedViewSetup.ViewId)}} </a>
                            </div>
                        </header>
                        <div class="widget-body view-background-color">
                            <smart-grid id="grd" name="gridName" data="insuranceRulesHome.dataList" options="insuranceRulesHome.grid.gridOptions" column-defs="insuranceRulesHome.grid.gridColumnDefs" style="height:500px;"></smart-grid>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="selectedInsuranceRule">
                    <div ng-include src="'app_hebs/hcms/setup/Payroll/Insurance/InsuranceRules/views/insuranceSelectedRule.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>-->



<div>
    <div class="row">
        <div class="col-md-12">
            <uib-tabset active="insuranceRulesHome.activeTabIndex" class="nav nav-tabs">
                <uib-tab index="0">
                    <uib-tab-heading style="padding:2px;">
                        <a class="btn btn-xs" style="padding:2px;margin:1px;">
                        </a>
                        <span style="margin:2px; padding:3px;">{{insuranceRulesHome.translateText('Home',insuranceRulesHome.selectedViewSetup.ViewId)}}</span>
                    </uib-tab-heading>
                    <div id="widget-insuranceRulesHome" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" class="no-margin-bottom">
                        <header class="header-background-color">
                            <h2><strong>{{insuranceRulesHome.translateText(insuranceRulesHome.FormSetup.FormName,insuranceRulesHome.selectedViewSetup.ViewId) }}</strong></h2>
                            <div class="widget-toolbar">
                                <a href-void class="btn" ng-click="insuranceRulesHome.addNewClicked()"><i class="fa fa-plus"></i> {{insuranceRulesHome.translateText('CreateNew', insuranceRulesHome.selectedViewSetup.ViewId)}} </a>
                            </div>
                        </header>
                        <div class="widget-body view-background-color">
                            <smart-grid id="grd" name="gridName" data="insuranceRulesHome.dataList" options="insuranceRulesHome.grid.gridOptions" column-defs="insuranceRulesHome.grid.gridColumnDefs" style="height:500px;"></smart-grid>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1">
                    <uib-tab-heading style="padding:2px;">
                        <a class="btn btn-xs" style="padding:2px;margin:1px;">
                        </a>
                        <span style="margin:2px; padding:3px;">{{insuranceRulesHome.translateText('Profile',insuranceRulesHome.selectedViewSetup.ViewId)}}</span>
                    </uib-tab-heading>
                    <div ng-include src="'app_hebs/hcms/setup/Payroll/Insurance/InsuranceRules/views/insuranceSelectedRule.html'"></div>
                </uib-tab>
            </uib-tabset>
                </div>
    </div>
</div>


