<div class="widget-body view-background-color">
    <div class="form-group  row">
        <!--PayItemId-->
        <ng-form name="PayItemId" ng-class="{ 'has-error': PayItemId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayItemId'].IsHidden">
            <div class="col-sm-2">

                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayItemId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">

                <hcms-generic ng-model="dynamicForm.dataItem.PayItemId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayItemId']"></hcms-generic>
            </div>
        </ng-form>

        <!--PayrollRunId-->
        <ng-form name="PayrollRunId" ng-class="{ 'has-error': PayrollRunId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayrollRunId'].IsHidden">
            <div class="col-sm-2">

                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayrollRunId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">

                <hcms-generic ng-model="dynamicForm.dataItem.PayrollRunId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayrollRunId']"></hcms-generic>
            </div>
        </ng-form>
    </div>
    <div class="form-group  row">
        <!--Amount-->
        <ng-form name="Amount" ng-class="{ 'has-error': Amount.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['Amount'].IsHidden">
            <div class="col-sm-2">

                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["Amount"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">

                <hcms-generic ng-model="dynamicForm.dataItem.Amount" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['Amount']"></hcms-generic>
            </div>
        </ng-form>

        <!--AccountNo-->
        <ng-form name="AccountNo" ng-class="{ 'has-error': AccountNo.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['AccountNo'].IsHidden">
            <div class="col-sm-2">

                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["AccountNo"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">

                <hcms-generic ng-model="dynamicForm.dataItem.AccountNo" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['AccountNo']"></hcms-generic>
            </div>
        </ng-form>
    </div>
    <div class="form-group  row">
        <!--StartDate-->
        <ng-form name="StartDate" ng-class="{ 'has-error': StartDate.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['StartDate'].IsHidden">
            <div class="col-sm-2">

                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["StartDate"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">

                <hcms-generic ng-model="dynamicForm.dataItem.StartDate" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['StartDate']"></hcms-generic>
            </div>
        </ng-form>
        <!--EndDate-->
        <ng-form name="EndDate" ng-class="{ 'has-error': EndDate.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['EndDate'].IsHidden">
            <div class="col-sm-2">

                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EndDate"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">

                <hcms-generic ng-model="dynamicForm.dataItem.EndDate" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EndDate']"></hcms-generic>
            </div>
        </ng-form>
    </div>

    <div class="form-group  row">
        <!--PayItemComment-->
        <ng-form name="PayItemComment" ng-class="{ 'has-error': PayItemComment.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayItemComment'].IsHidden">
            <div class="col-sm-2">

                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayItemComment"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-10">

                <hcms-generic ng-model="dynamicForm.dataItem.PayItemComment" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayItemComment']"></hcms-generic>
            </div>
        </ng-form>
        </div>
    <div class="form-group  row">
        <!--Disabled-->
        <ng-form name="Disabled" ng-class="{ 'has-error': Disabled.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['Disabled'].IsHidden">
            <div class="col-sm-2">

                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["Disabled"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">

                <hcms-generic ng-model="dynamicForm.dataItem.Disabled" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['Disabled']"></hcms-generic>
            </div>
        </ng-form>
    </div>
    </div>