<div class="row ">
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-12  RemovePaddingright FixedHeight">
                <!--<profile-info profile-id="loanTransHome.selectedProfile.EmpAssignmentId"></profile-info>-->
                <emp-assignment-info assignment-id="loanTransHome.selectedProfile.EmpAssignmentId"></emp-assignment-info>
            </div>             
        </div>


        <div class="row">
            <div class="col-md-12">
                <form-nav-tabs form-id="loanTransHome.FormSetup.MyForm.FormId" parent-id-field-name="'EmpAssignmentId'" parent-item="loanTransHome.selectedProfile" hc-options="loanTransHome.navTabOptions"></form-nav-tabs>
            </div>
        </div>
    </div>
</div>


