
<div class="form-group  row">
    <!--PaymentTypeId-->
    <ng-form name="PaymentTypeId" ng-class="{ 'has-error': PaymentTypeId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PaymentTypeId'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PaymentTypeId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PaymentTypeId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PaymentTypeId']"></hcms-generic>
        </div>
    </ng-form>

    <!--PayrollRunId-->
    <ng-form name="PayrollRunId" ng-class="{ 'has-error': PayrollRunId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayrollRunId'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayrollRunId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayrollRunId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayrollRunId']"></hcms-generic>
        </div>
    </ng-form>
  
</div>
<div class="form-group  row">
    <!--BankId-->
    <ng-form name="BankId" ng-class="{ 'has-error': BankId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['BankId'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["BankId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.BankId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['BankId']"></hcms-generic>
        </div>
    </ng-form>

    <!--BankBranchId-->
    <ng-form name="BankBranchId" ng-class="{ 'has-error': BankBranchId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['BankBranchId'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["BankBranchId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.BankBranchId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['BankBranchId']"></hcms-generic>
        </div>
    </ng-form>
    </div>
<div class="form-group  row">
    <!--BankAccountNo-->
    <ng-form name="BankAccountNo" ng-class="{ 'has-error': BankAccountNo.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['BankAccountNo'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["BankAccountNo"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.BankAccountNo" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['BankAccountNo']"></hcms-generic>
        </div>
    </ng-form>
    <!--BankRouteNo-->
    <ng-form name="BankRouteNo" ng-class="{ 'has-error': BankRouteNo.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['BankRouteNo'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["BankRouteNo"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.BankRouteNo" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['BankRouteNo']"></hcms-generic>
        </div>
    </ng-form>
</div>
<div class="form-group" row>
    <!--BankIBANNo-->
    <ng-form name="BankIBANNo" ng-class="{ 'has-error': BankIBANNo.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['BankIBANNo'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["BankIBANNo"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.BankIBANNo" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['BankIBANNo']"></hcms-generic>
        </div>
    </ng-form>
    <!--PaymentPID-->
    <ng-form name="PaymentPID" ng-class="{ 'has-error': PaymentPID.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PaymentPID'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PaymentPID"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PaymentPID" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PaymentPID']"></hcms-generic>
        </div>
    </ng-form>
    </div>
<div class="form-group  row">
    <!--CurrencyId-->
    <ng-form name="CurrencyId" ng-class="{ 'has-error': CurrencyId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['CurrencyId'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["CurrencyId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.CurrencyId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['CurrencyId']"></hcms-generic>
        </div>
    </ng-form>
    <!--PaymentPercentage-->
    <ng-form name="PaymentPercentage" ng-class="{ 'has-error': PaymentPercentage.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PaymentPercentage'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PaymentPercentage"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PaymentPercentage" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PaymentPercentage']"></hcms-generic>
        </div>
    </ng-form>
   
</div>
<div class="form-group  row">
   
    <!--PaymentComment-->
    <ng-form name="PaymentComment" ng-class="{ 'has-error': PaymentComment.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PaymentComment'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PaymentComment"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-10">

            <hcms-generic ng-model="dynamicForm.dataItem.PaymentComment" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PaymentComment']"></hcms-generic>
        </div>
    </ng-form>
</div>
<div class="form-group  row">
    <!--StartDate-->
    <ng-form name="StartDate" ng-class="{ 'has-error': StartDate.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['StartDate'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["StartDate"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.StartDate" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['StartDate']"></hcms-generic>
        </div>
    </ng-form>

    <!--EndDate-->
    <ng-form name="EndDate" ng-class="{ 'has-error': EndDate.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['EndDate'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EndDate"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.EndDate" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EndDate']"></hcms-generic>
        </div>
    </ng-form>
</div>
<div class="form-group  row">
    <!--Disabled-->
    <ng-form name="Disabled" ng-class="{ 'has-error': Disabled.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['Disabled'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["Disabled"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.Disabled" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['Disabled']"></hcms-generic>
        </div>
    </ng-form>

    <!--OrderNo-->
    <ng-form name="OrderNo" ng-class="{ 'has-error': OrderNo.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['OrderNo'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["OrderNo"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.OrderNo" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['OrderNo']"></hcms-generic>
        </div>
    </ng-form>
</div>