 
<!--<div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs ">
                <li class="active">
                    <a href="#attendanceHomeSearch" data-toggle="tab">{{editAttendanceHome.translateText('Home',editAttendanceHome.selectedViewSetup.ViewId)}}</a>
                </li>
                <li>
                    <a href="#selectedAttendanceProfile" data-toggle="tab">{{editAttendanceHome.translateText('Profile',editAttendanceHome.selectedViewSetup.ViewId)}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="attendanceHomeSearch">

                    <div id="widget-editAttendanceHome" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" class="no-margin-bottom">
                        <header class="header-background-color">
                            <h2><strong>{{editAttendanceHome.translateText(editAttendanceHome.FormSetup.FormName,editAttendanceHome.selectedViewSetup.ViewId) }}</strong></h2>
                            <div class="widget-toolbar">
                                <a href-void class="btn" ng-click="editAttendanceHome.addNewClicked()"><i class="fa fa-plus"></i> {{editAttendanceHome.translateText('CreateNew', editAttendanceHome.selectedViewSetup.ViewId)}} </a>
                            </div>
                        </header>
                        <div class="widget-body view-background-color">
                            <emp-default-assignemnt-list options="editAttendanceHome.listOptions"></emp-default-assignemnt-list>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="selectedAttendanceProfile">
                    <div ng-include src="'app_hebs/hcms/attendance/editAttendance/views/editAttendanceSelectedProfile.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>-->



<div>
    <div class="row">
        <div class="col-md-12">
            <uib-tabset active="editAttendanceHome.activeTabIndex" class="nav nav-tabs">
                <uib-tab index="0">
                    <uib-tab-heading style="padding:2px;">
                        <a class="btn btn-xs" style="padding:2px;margin:1px;">
                        </a>
                        <span style="margin:2px; padding:3px;">{{editAttendanceHome.translateText('Home',editAttendanceHome.selectedViewSetup.ViewId)}}</span>
                    </uib-tab-heading>
                    <div id="widget-editAttendanceHome" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" class="no-margin-bottom">
                        <header class="header-background-color">
                            <h2><strong>{{editAttendanceHome.translateText(editAttendanceHome.FormSetup.FormName,editAttendanceHome.selectedViewSetup.ViewId) }}</strong></h2>
                            <div class="widget-toolbar">
                                <a href-void class="btn" ng-click="editAttendanceHome.addNewClicked()"><i class="fa fa-plus"></i> {{editAttendanceHome.translateText('CreateNew', editAttendanceHome.selectedViewSetup.ViewId)}} </a>
                            </div>
                        </header>
                        <div class="widget-body view-background-color">
                            <emp-default-assignemnt-list options="editAttendanceHome.listOptions"></emp-default-assignemnt-list>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1">
                    <uib-tab-heading style="padding:2px;">
                        <a class="btn btn-xs" style="padding:2px;margin:1px;">
                        </a>
                        <span style="margin:2px; padding:3px;">{{editAttendanceHome.translateText('Profile',editAttendanceHome.selectedViewSetup.ViewId)}}</span>
                    </uib-tab-heading>
                    <div ng-include src="'app_hebs/hcms/attendance/editAttendance/views/editAttendanceSelectedProfile.html'"></div>
                </uib-tab>
            </uib-tabset>
               </div>
    </div>
</div>


