<div class="row ">
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-12  RemovePaddingright FixedHeight">
                <emp-assignment-info assignment-id="editAttendanceHome.selectedProfile.EmpAssignmentId"></emp-assignment-info>
            </div>             
        </div>


        <div class="row">
            <div class="col-md-12">
                <form-nav-tabs form-id="editAttendanceHome.FormSetup.MyForm.FormId" parent-id-field-name="'EmpAssignmentId'" parent-item="editAttendanceHome.selectedProfile" hc-options="editAttendanceHome.navTabOptions"></form-nav-tabs>
            </div>
        </div>
    </div>
</div>


