
<div class="form-group  row">
    <!--PayrollStopSalaryReasonId-->
    <ng-form name="PayrollStopSalaryReasonId" ng-class="{ 'has-error': PayrollStopSalaryReasonId.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['PayrollStopSalaryReasonId'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["PayrollStopSalaryReasonId"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.PayrollStopSalaryReasonId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['PayrollStopSalaryReasonId']"></hcms-generic>
        </div>
    </ng-form>
</div>
<div class="form-group  row">

    <!--StartMonth-->
    <ng-form name="StartMonth" ng-class="{ 'has-error': StartMonth.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['StartMonth'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["StartMonth"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.StartMonth" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['StartMonth']"></hcms-generic>
        </div>
    </ng-form>
    <!--StartYear-->
    <ng-form name="StartYear" ng-class="{ 'has-error': StartYear.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['StartYear'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["StartYear"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.StartYear" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['StartYear']"></hcms-generic>
        </div>
    </ng-form>

</div>
<div class="form-group  row">
   
    <!--EndMonth-->
    <ng-form name="EndMonth" ng-class="{ 'has-error': EndMonth.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['EndMonth'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EndMonth"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.EndMonth" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EndMonth']"></hcms-generic>
        </div>
    </ng-form>
    <!--EndYear-->
    <ng-form name="EndYear" ng-class="{ 'has-error': EndYear.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['EndYear'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["EndYear"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.EndYear" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['EndYear']"></hcms-generic>
        </div>
    </ng-form>
</div>


<div class="form-group  row">
    <!--OrderNo-->
    <ng-form name="OrderNo" ng-class="{ 'has-error': OrderNo.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['OrderNo'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["OrderNo"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.OrderNo" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['OrderNo']"></hcms-generic>
        </div>
    </ng-form>

    <!--Disabled-->
    <ng-form name="Disabled" ng-class="{ 'has-error': Disabled.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['Disabled'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["Disabled"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.Disabled" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['Disabled']"></hcms-generic>
        </div>
    </ng-form>
</div>
<div class="form-group  row">

    <!--StopSalaryComment-->
    <ng-form name="StopSalaryComment" ng-class="{ 'has-error': StopSalaryComment.$invalid }" ng-hide="dynamicForm.selectedViewSetup.ViewFieldsObject['StopSalaryComment'].IsHidden">
        <div class="col-sm-2">

            <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["StopSalaryComment"].FieldName,dynamicForm.selectedViewSetup.viewSetup.ViewId)}}</label>
        </div>
        <div class="col-sm-4">

            <hcms-generic ng-model="dynamicForm.dataItem.StopSalaryComment" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['StopSalaryComment']"></hcms-generic>
        </div>
    </ng-form>
</div>