<div class="widget-body view-background-color">


    <!--<div class="form-group  row">
        <ng-form name="AssignmentNo" ng-class="{ 'has-error': AssignmentNo.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["AssignmentNo"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.AssignmentNo" hc-options="navForm.selectedViewSetup.ViewFieldsObject['AssignmentNo']"></hcms-generic>
            </div>

        </ng-form>
    </div>-->

    <div class="form-group  row">
        <!--EmployeeCode-->
        <ng-form name="EmployeeCode" ng-class="{ 'has-error': EmployeeCode.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["EmployeeCode"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.EmployeeCode" hc-options="navForm.selectedViewSetup.ViewFieldsObject['EmployeeCode']"></hcms-generic>
            </div>
        </ng-form>
        <!--EmpStatusId-->
        <ng-form name="EmpStatusId" ng-class="{ 'has-error': EmpStatusId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["EmpStatusId"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.EmpStatusId" hc-options="navForm.selectedViewSetup.ViewFieldsObject['EmpStatusId']"></hcms-generic>
            </div>
        </ng-form>
    </div>


    <div class="form-group  row">
        <!--EmpHireDate-->
        <ng-form name="EmpHireDate" ng-class="{ 'has-error': EmpHireDate.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["EmpHireDate"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.EmpHireDate" hc-options="navForm.selectedViewSetup.ViewFieldsObject['EmpHireDate']"></hcms-generic>
            </div>
        </ng-form>

        <!--EmpTermDate-->
        <ng-form name="EmpTermDate" ng-class="{ 'has-error': EmpTermDate.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["EmpTermDate"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.EmpTermDate" hc-options="navForm.selectedViewSetup.ViewFieldsObject['EmpTermDate']"></hcms-generic>
            </div>
        </ng-form>

    </div>



    <div class="form-group  row">
        <!--CompanyId-->
        <ng-form name="AssignmentCompanyId" ng-class="{ 'has-error': AssignmentCompanyId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["CompanyId"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.CompanyId" hc-options="navForm.selectedViewSetup.ViewFieldsObject['CompanyId']"></hcms-generic>
            </div>
        </ng-form>
        <!--LocationId-->
        <ng-form name="LocationId" ng-class="{ 'has-error': LocationId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["LocationId"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.LocationId" hc-options="navForm.selectedViewSetup.ViewFieldsObject['LocationId']"></hcms-generic>
            </div>
        </ng-form>
    </div>



    <div class="form-group  row">
        <!--UnitId-->
        <ng-form name="UnitId" ng-class="{ 'has-error': UnitId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["UnitId"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.UnitId" hc-options="navForm.selectedViewSetup.ViewFieldsObject['UnitId']"></hcms-generic>
            </div>
        </ng-form>
        <!--VacationPackageId-->
        <ng-form name="VacationPackageId" ng-class="{ 'has-error': VacationPackageId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["VacationPackageId"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.VacationPackageId" hc-options="navForm.selectedViewSetup.ViewFieldsObject['VacationPackageId']"></hcms-generic>
            </div>
        </ng-form>
    </div>

    <div class="form-group  row">
        <!--LevelId-->
        <ng-form name="LevelId" ng-class="{ 'has-error': LevelId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["LevelId"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.LevelId" hc-options="navForm.selectedViewSetup.ViewFieldsObject['LevelId']"></hcms-generic>
            </div>
        </ng-form>



        <!--ContractTypeId-->
        <ng-form name="ContractTypeId" ng-class="{ 'has-error': ContractTypeId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["ContractTypeId"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.ContractTypeId" hc-options="navForm.selectedViewSetup.ViewFieldsObject['ContractTypeId']"></hcms-generic>
            </div>
        </ng-form>

    </div>

    <div class="form-group  row">
        <!--GradeId-->
        <ng-form name="GradeId" ng-class="{ 'has-error': GradeId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["GradeId"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.GradeId" hc-options="navForm.selectedViewSetup.ViewFieldsObject['GradeId']"></hcms-generic>
            </div>
        </ng-form>


        <!--PayrollGroupId-->
        <ng-form name="PayrollGroupId" ng-class="{ 'has-error': PayrollGroupId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["PayrollGroupId"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.PayrollGroupId" hc-options="navForm.selectedViewSetup.ViewFieldsObject['PayrollGroupId']"></hcms-generic>
            </div>
        </ng-form>
    </div>

    <div class="form-group  row">

        <!--JobId-->
        <ng-form name="JobId" ng-class="{ 'has-error': JobId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["JobId"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.JobId" hc-options="navForm.selectedViewSetup.ViewFieldsObject['JobId']"></hcms-generic>
            </div>
        </ng-form>

        <!--TaxRuleId-->
        <ng-form name="TaxRuleId" ng-class="{ 'has-error': TaxRuleId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["TaxRuleId"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.TaxRuleId" hc-options="navForm.selectedViewSetup.ViewFieldsObject['TaxRuleId']"></hcms-generic>
            </div>
        </ng-form>

    </div>
    <div class="form-group  row">
        <!--PositionId-->
        <ng-form name="PositionId" ng-class="{ 'has-error': PositionId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["PositionId"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.PositionId" hc-options="navForm.selectedViewSetup.ViewFieldsObject['PositionId']"></hcms-generic>
            </div>
        </ng-form>

        <!--PositionId-->
        <ng-form name="AttendanceGroupId" ng-class="{ 'has-error': AttendanceGroupId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["AttendanceGroupId"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.AttendanceGroupId" hc-options="navForm.selectedViewSetup.ViewFieldsObject['AttendanceGroupId']"></hcms-generic>
            </div>
        </ng-form>

    </div>
    <div class="form-group  row">
        <!--EmpPrivacy-->
        <ng-form name="EmpPrivacy" ng-class="{ 'has-error': EmpPrivacy.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["EmpPrivacy"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.EmpPrivacy" hc-options="navForm.selectedViewSetup.ViewFieldsObject['EmpPrivacy']"></hcms-generic>
            </div>
        </ng-form>

        <!--IsDefaultAssignment-->
        <ng-form name="IsDefaultAssignment" ng-class="{ 'has-error': IsDefaultAssignment.$invalid }">
            <div class=" col-sm-offset-2 col-sm-2">
                <hcms-generic ng-model="navForm.dataItem.IsDefaultAssignment" hc-options="navForm.selectedViewSetup.ViewFieldsObject['IsDefaultAssignment']" hc-text="{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject['IsDefaultAssignment'].FieldName,navForm.selectedViewSetup.ViewId)}}"></hcms-generic>
            </div>
        </ng-form>

    </div>

    <!--<div class="form-group  row">

        <ng-form name="TimeRuleId" ng-class="{ 'has-error': TimeRuleId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["TimeRuleId"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.TimeRuleId" hc-options="navForm.selectedViewSetup.ViewFieldsObject['TimeRuleId']"></hcms-generic>
            </div>
        </ng-form>

        <ng-form name="MedicalVendorId" ng-class="{ 'has-error': MedicalVendorId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{navForm.translateText(navForm.selectedViewSetup.ViewFieldsObject["MedicalVendorId"].FieldName,navForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="navForm.dataItem.MedicalVendorId" hc-options="navForm.selectedViewSetup.ViewFieldsObject['MedicalVendorId']"></hcms-generic>
            </div>
        </ng-form>
    </div>-->
    <!--Save & Cancel Buttons-->
    <!--<div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="{{navForm.translateText('Save' , navForm.selectedViewSetup.ViewId)}}" ng-disabled="empAsignmentForm.$invalid" />
            <button type="button" class="btn btn-default" ng-click="navForm.indexItemView()">{{navForm.translateText('Cancel' , navForm.selectedViewSetup.ViewId)}}</button>
        </div>
    </div>-->


</div>