
<!--<div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs ">
                <li class="active">
                    <a href="#permissionTransHomeSearch" data-toggle="tab">{{permissionTransHome.translateText('Home',permissionTransHome.selectedViewSetup.ViewId)}}</a>
                </li>
                <li>
                    <a href="#selectedPermissionProfile" data-toggle="tab">{{permissionTransHome.translateText('Profile',permissionTransHome.selectedViewSetup.ViewId)}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="permissionTransHomeSearch">

                    <div id="widget-permissionTransHome" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" class="no-margin-bottom">
                        <header class="header-background-color">
                            <h2><strong>{{permissionTransHome.translateText(permissionTransHome.FormSetup.FormName,permissionTransHome.selectedViewSetup.ViewId) }}</strong></h2>
                            <div class="widget-toolbar">
                                <a href-void class="btn" ng-click="permissionTransHome.addNewClicked()"><i class="fa fa-plus"></i> {{permissionTransHome.translateText('CreateNew', permissionTransHome.selectedViewSetup.ViewId)}} </a>
                            </div>
                        </header>
                        <div class="widget-body view-background-color">
                            <emp-default-assignemnt-list options="permissionTransHome.listOptions"></emp-default-assignemnt-list>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="selectedPermissionProfile">
                    <div ng-include src="'app_hebs/hcms/personnel/attendance/permissions/views/permissionSelectedProfile.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>-->


<div>
    <div class="row">
        <div class="col-md-12">
            <uib-tabset active="permissionTransHome.activeTabIndex" class="nav nav-tabs">
                <uib-tab index="0">
                    <uib-tab-heading style="padding:2px;">
                        <a class="btn btn-xs" style="padding:2px;margin:1px;">
                        </a>
                        <span style="margin:2px; padding:3px;">{{permissionTransHome.translateText('Home',permissionTransHome.selectedViewSetup.ViewId)}}</span>
                    </uib-tab-heading>
                    <div id="widget-permissionTransHome" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" class="no-margin-bottom">
                        <header class="header-background-color">
                            <h2><strong>{{permissionTransHome.translateText(permissionTransHome.FormSetup.FormName,permissionTransHome.selectedViewSetup.ViewId) }}</strong></h2>
                            <div class="widget-toolbar">
                                <a href-void class="btn" ng-click="permissionTransHome.addNewClicked()"><i class="fa fa-plus"></i> {{permissionTransHome.translateText('CreateNew', permissionTransHome.selectedViewSetup.ViewId)}} </a>
                            </div>
                        </header>
                        <div class="widget-body view-background-color">
                            <emp-default-assignemnt-list options="permissionTransHome.listOptions"></emp-default-assignemnt-list>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1">
                    <uib-tab-heading style="padding:2px;">
                        <a class="btn btn-xs" style="padding:2px;margin:1px;">
                        </a>
                        <span style="margin:2px; padding:3px;">{{permissionTransHome.translateText('Profile',permissionTransHome.selectedViewSetup.ViewId)}}</span>
                    </uib-tab-heading>
                    <div ng-include src="'app_hebs/hcms/personnel/attendance/permissions/views/permissionSelectedProfile.html'"></div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>



