
<div>
    <div class="row">
        <div class="col-md-12">
            <uib-tabset active="loanSettlementHome.activeTabIndex" class="nav nav-tabs">
                <uib-tab index="0">
                    <uib-tab-heading style="padding:2px;">
                        <a class="btn btn-xs" style="padding:2px;margin:1px;">
                        </a>
                        <span style="margin:2px; padding:3px;">{{loanSettlementHome.translateText('Home',loanSettlementHome.selectedViewSetup.ViewId)}}</span>
                    </uib-tab-heading>
                    <div id="widget-loanSettlementHome" data-jarvis-widget data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" class="no-margin-bottom">
                        <header class="header-background-color">
                            <h2><strong>{{loanSettlementHome.translateText(loanSettlementHome.FormSetup.FormName,loanSettlementHome.selectedViewSetup.ViewId) }}</strong></h2>
                            <div class="widget-toolbar">
                                <a href-void class="btn" ng-click="loanSettlementHome.addNewClicked()"><i class="fa fa-plus"></i> {{loanSettlementHome.translateText('CreateNew', loanSettlementHome.selectedViewSetup.ViewId)}} </a>
                            </div>
                        </header>
                        <div class="widget-body view-background-color">
                            <emp-default-assignemnt-list options="loanSettlementHome.listOptions"></emp-default-assignemnt-list>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1">
                    <uib-tab-heading style="padding:2px;">
                        <a class="btn btn-xs" style="padding:2px;margin:1px;">
                        </a>
                        <span style="margin:2px; padding:3px;">{{loanSettlementHome.translateText('Profile',loanSettlementHome.selectedViewSetup.ViewId)}}</span>
                    </uib-tab-heading>
                    <div ng-include src="'app_hebs/hcms/payroll/loanSettlement/views/loanSettlementSelectedProfile.html'"></div>
                </uib-tab>
            </uib-tabset>

        </div>
    </div>
</div>

