<div class="widget-body view-background-color">

    <div class="form-group  row">

        <!--MilitaryStatusId-->
        <ng-form name="MilitaryStatusId" ng-class="{ 'has-error': MilitaryStatusId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["MilitaryStatusId"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="dynamicForm.dataItem.MilitaryStatusId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['MilitaryStatusId']"></hcms-generic>
            </div>
        </ng-form>

        <!--MilitaryNo-->
        <ng-form name="MilitaryNo" ng-class="{ 'has-error': MilitaryNo.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["MilitaryNo"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="dynamicForm.dataItem.MilitaryNo" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['MilitaryNo']"></hcms-generic>
            </div>
        </ng-form>


    </div>

    <div class="form-group  row">
        <!--MilitaryStartDate-->
        <ng-form name="MilitaryStartDate" ng-class="{ 'has-error': MilitaryStartDate.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["MilitaryStartDate"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="dynamicForm.dataItem.MilitaryStartDate" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['MilitaryStartDate']"></hcms-generic>
            </div>
        </ng-form>

        <!--MilitaryEnddate-->
        <ng-form name="MilitaryEnddate" ng-class="{ 'has-error': MilitaryEnddate.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["MilitaryEnddate"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="dynamicForm.dataItem.MilitaryEnddate" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['MilitaryEnddate']"></hcms-generic>
            </div>
        </ng-form>


    </div>

    <div class="form-group  row">
        <!--MilitaryMoralityDegreeId-->
        <ng-form name="MilitaryMoralityDegreeId" ng-class="{ 'has-error': MilitaryMoralityDegreeId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["MilitaryMoralityDegreeId"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="dynamicForm.dataItem.MilitaryMoralityDegreeId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['MilitaryMoralityDegreeId']"></hcms-generic>
            </div>
        </ng-form>

        <!--MilitaryForceId-->
        <ng-form name="MilitaryForceId" ng-class="{ 'has-error': MilitaryForceId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["MilitaryForceId"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="dynamicForm.dataItem.MilitaryForceId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['MilitaryForceId']"></hcms-generic>
            </div>
        </ng-form>

    </div>

    <div class="form-group  row">
        <!--MilitaryExceptionReasonId-->
        <ng-form name="MilitaryExceptionReasonId" ng-class="{ 'has-error': MilitaryExceptionReasonId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["MilitaryExceptionReasonId"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="dynamicForm.dataItem.MilitaryExceptionReasonId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['MilitaryExceptionReasonId']"></hcms-generic>
            </div>
        </ng-form>


        <!--MilitaryRankId-->
        <ng-form name="MilitaryRankId" ng-class="{ 'has-error': MilitaryRankId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["MilitaryRankId"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="dynamicForm.dataItem.MilitaryRankId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['MilitaryRankId']"></hcms-generic>
            </div>
        </ng-form>

    </div>

    <div class="form-group  row">

        <!--MilitaryCertificateSerialNo-->
        <ng-form name="MilitaryCertificateSerialNo" ng-class="{ 'has-error': MilitaryCertificateSerialNo.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["MilitaryCertificateSerialNo"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="dynamicForm.dataItem.MilitaryCertificateSerialNo" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['MilitaryCertificateSerialNo']"></hcms-generic>
            </div>
        </ng-form>

        <!--MilitaryJoinGroupDate-->
        <ng-form name="MilitaryJoinGroupDate" ng-class="{ 'has-error': MilitaryJoinGroupDate.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["MilitaryJoinGroupDate"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="dynamicForm.dataItem.MilitaryJoinGroupDate" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['MilitaryJoinGroupDate']"></hcms-generic>
            </div>
        </ng-form>

    </div>




    <div class="form-group  row">
        <!--AreaId-->
        <ng-form name="AreaId" ng-class="{ 'has-error': AreaId.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["AreaId"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="dynamicForm.dataItem.AreaId" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['AreaId']"></hcms-generic>
            </div>
        </ng-form>

        <!--MilitaryCertificateDate-->
        <ng-form name="MilitaryCertificateDate" ng-class="{ 'has-error': MilitaryCertificateDate.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["MilitaryCertificateDate"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="dynamicForm.dataItem.MilitaryCertificateDate" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['MilitaryCertificateDate']"></hcms-generic>

            </div>
        </ng-form>



    </div>
    <div class="form-group  row">
        <!--ReserveStartDate-->
        <ng-form name="ReserveStartDate" ng-class="{ 'has-error': ReserveStartDate.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["ReserveStartDate"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="dynamicForm.dataItem.ReserveStartDate" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['ReserveStartDate']"></hcms-generic>
            </div>
        </ng-form>
        <!--ReserveEndtDate-->
        <ng-form name="ReserveEndtDate" ng-class="{ 'has-error': ReserveEndtDate.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["ReserveEndtDate"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-4">
                <hcms-generic ng-model="dynamicForm.dataItem.ReserveEndtDate" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['ReserveEndtDate']"></hcms-generic>
            </div>
        </ng-form>

    </div>

    <div class="form-group  row">

        <!--MilitaryComment-->
        <ng-form name="MilitaryComment" ng-class="{ 'has-error': MilitaryComment.$invalid }">
            <div class="col-sm-2">
                <label class="control-label">{{dynamicForm.translateText(dynamicForm.selectedViewSetup.ViewFieldsObject["MilitaryComment"].FieldName , dynamicForm.selectedViewSetup.ViewId)}}</label>
            </div>
            <div class="col-sm-10">
                <hcms-generic ng-model="dynamicForm.dataItem.MilitaryComment" hc-options="dynamicForm.selectedViewSetup.ViewFieldsObject['MilitaryComment']"></hcms-generic>
            </div>
        </ng-form>

    </div>



    <!--Save & Cancel Buttons-->
    <!--<div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="{{dynamicForm.translateText('Save' , dynamicForm.selectedViewSetup.ViewId)}}" ng-disabled="empMilitaryAddForm.$invalid" />
            <button type="button" class="btn btn-default" ng-click="dynamicForm.indexItemView()">{{dynamicForm.translateText('Cancel' , dynamicForm.selectedViewSetup.ViewId)}}</button>
        </div>
    </div>-->


</div>
<!--/.container (DON'T NEST) -->
